sudo: false
os:
  - linux
  - osx
language: node_js
node_js:
  - "5"
  - "6"
  - "8"
  - "10"
  - "11"
  - "12"
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-6
env:
  global:
    - JOBS=2
  matrix:
    - TEST_SUITE=unit
matrix:
  fast_finish: true
  include:
    - os: linux
      node_js: "10"
      env: TEST_SUITE=lint
before_install:
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then export CXX=g++-6; fi
script: npm run $TEST_SUITE
